<!-- SUBHEADER - START -->
<div class="t-subheader">
    
    <!-- TITLE -->
    <div class="title title-full-width">
        <div>REVIEW</div>
        <div>Review, accept and finalize your purchase</div>
    </div>

</div>
<!-- SUBHEADER - END -->


<!-- REVIEW - START -->
<div class="t-content-section">


	<!-- PLAN - START -->
	<div class="plan">


        <!-- CARD - CONTACT - START -->                   
        <div class="m-card">
            <div class="m-card-hdr">
                <div class="title">
                	<span>PLAN_NAME</span>
                	<span id="change-plan" class="change">(Change Plan)</span>
                </div>
            </div>
            <div class="m-card-bdy">


				<!-- INFORMATION - PAYMENT - START -->
                <div class="information-payment">
            		<div class="t-grid t-grid-50">
            			<div class="lft information">

		                	<div class="section-title">
		                		Information:
		                	</div>

							<div class="contact">
								<div>Firstname Lastname</div>
								<div>email@email.com</div>
								<div>555-555-5555</div>
							</div>

							<div class="address">
								<div>123 Address St.</div>
								<div>Ottawa, Ontario, Canada</div>
								<div>A1A 1A1</div>
							</div>

		                	<div class="change">
		                		<a class="change" href="information.html">(Change Information)</a>
			                </div>

            			</div>

            			<div class="rgt payment">
		                	<div class="section-title">
		                		Payment:
		                	</div>

		                	<div class="payment-type-id">
		                        <svg viewBox="0 0 548.176 548.176">
		                            <g>
		                                <title>Credit Card</title>
		                                <rect width="100%" height="100%" fill="#ffffff" fill-opacity="0" />             
		                                <path d="M534.754,68.238c-8.945-8.945-19.698-13.417-32.258-13.417H45.681c-12.562,0-23.313,4.471-32.264,13.417
		                                    C4.471,77.185,0,87.936,0,100.499v347.173c0,12.566,4.471,23.318,13.417,32.264c8.951,8.946,19.702,13.419,32.264,13.419h456.815c12.56,0,23.312-4.473,32.258-13.419c8.945-8.945,13.422-19.697,13.422-32.264V100.499C548.176,87.936,543.699,77.185,534.754,68.238z M511.627,447.679c0,2.478-0.903,4.613-2.711,6.427c-1.807,1.8-3.949,2.703-6.42,2.703H45.681c-2.473,0-4.615-0.903-6.423-2.71c-1.807-1.813-2.712-3.949-2.712-6.427V274.088h475.082V447.679z M511.627,164.449H36.545v-63.954c0-2.474,0.902-4.611,2.712-6.423c1.809-1.803,3.951-2.708,6.423-2.708h456.815c2.471,0,4.613,0.901,6.42,2.708c1.808,1.812,2.711,3.949,2.711,6.423V164.449L511.627,164.449z"/>
		                                <rect x="73.092" y="383.719" width="73.089" height="36.548"/>
		                                <rect x="182.728" y="383.719" width="109.634" height="36.548"/>
		                            </g>
		                        </svg>
		                        <div>Credit Card - **** 4242</div>
		                	</div>

		                	<div class="change">
		                		<a class="change" href="payment.html">(Change Payment)</a>
			                </div>
            			</div>

               		</div>
                </div>
				<!-- INFORMATION - PAYMENT - END -->


            	<!-- INVOICE PREVIEW - START -->
                <div class="invoice-preview">

                	<div class="section-title">
                		Invoice Preview:
                	</div>


					<!-- TABLE - START -->
		            <div class="m-table">

		                <div class="hdr">
		                    <div class="hdr-col-description">DESCRIPTION</div>
		                    <div class="hdr-col-quantity">QUANTITY</div>
		                    <div class="hdr-col-unit-price">UNIT PRICE</div>
		                    <div class="hdr-col-amount">AMOUNT</div>
		                </div>

		                <div class="bdy">

		                    <div class="row">
		                        <div class="bdy-col-description">
		                            <label class="lbl">DESCRIPTION</label>
		                            <div>Widget 1</div>
		                        </div>
		                        <div class="bdy-col-quantity">
		                            <label class="lbl">QUANTITY</label>
		                            <div>999</div>
		                        </div>
		                        <div class="bdy-col-unit-price">
		                            <label class="lbl">UNIT PRICE</label>
		                            <div>$999,999,999.99 USD</div>
		                        </div>
		                        <div class="bdy-col-amount">
		                            <label class="lbl">AMOUNT</label>
		                            <div>$999,999,999.99 USD</div>
		                        </div>
		                    </div>

		                    <div class="row">
		                        <div class="bdy-col-description">
		                            <label class="lbl">DESCRIPTION</label>
		                            <div>Widget 2</div>
		                        </div>
		                        <div class="bdy-col-quantity">
		                            <label class="lbl">QUANTITY</label>
		                            <div>1</div>
		                        </div>
		                        <div class="bdy-col-unit-price">
		                            <label class="lbl">UNIT PRICE</label>
		                            <div>$10.00 USD</div>
		                        </div>
		                        <div class="bdy-col-amount">
		                            <label class="lbl">AMOUNT</label>
		                            <div>$10.00 USD</div>
		                        </div>
		                    </div>

		                    <div class="row">
		                        <div class="bdy-col-description">
		                            <label class="lbl">DESCRIPTION</label>
		                            <div>Widget 3</div>
		                        </div>
		                        <div class="bdy-col-quantity">
		                            <label class="lbl">QUANTITY</label>
		                            <div>5</div>
		                        </div>
		                        <div class="bdy-col-unit-price">
		                            <label class="lbl">UNIT PRICE</label>
		                            <div>$20.00 USD</div>
		                        </div>
		                        <div class="bdy-col-amount">
		                            <label class="lbl">AMOUNT</label>
		                            <div>$100.00 USD</div>
		                        </div>
		                    </div>

		                </div>

		            </div>
		            <!-- TABLE - END -->


					<!-- INVOICE-TERMS-TOTALS - START -->
		            <div class="invoice-terms-totals">

		            	<div class="invoice-terms">
		            		* Gateway terms and conditions can go here so that the customer knows why they had to to things that they had to do.
		            	</div>


						<!-- INVOICE PREVIEW TOTALS - START -->
		                <div class="invoice-totals">

		                	<!-- COUPON -->
		                	<div class="coupon">
		                		<div class="coupon-apply">
				                    <div class="label">Coupon:</div>
			                		<div class="input">
				                    	<input class="coupon-value" type="text" />
				                    </div>
				                    <div class="m-button m-button-primary coupon-apply-button">APPLY</div>
				                </div>
				                <div class="coupon-error">Coupon is mandatory</div>
		                		<div class="coupon-applied">
				                    <div class="label">Coupon:</div>
				                    <div class="label coupon-label">#3490234</div>
				                    <div class="m-button m-button-primary coupon-undo-button">UNDO</div>
				                </div>
			                </div>

							<!-- SUBTOTALS -->
		                	<div class="subtotal">
			                	<div>Subtotal:</div>
			                	<div>$999,999,999.99 USD</div>
			                </div>

		                	<div class="subtotal">
			                	<div>Pending Changes:</div>
			                	<div>$999,999,999.99 USD</div>
			                </div>

		                	<div class="discount">
			                	<div>Discount:</div>
			                	<div>($999,999,999.99 USD)</div>
			                </div>

			                <!-- TOTAL -->
		                	<div class="total">
			                	<div>Total:</div>
			                	<div>$999,999,999.99 USD</div>
			                </div>

			                <!-- CHANGE / EDIT -->
		                	<div class="change">
		                		<a class="change" href="configure.html">(Change Plan Configuration)</a>
			                </div>
		                </div>
		                <!-- INVOICE PREVIEW TOTALS - START -->


		            </div>
					<!-- INVOICE-TERMS-TOTALS - END -->


                </div>
				<!-- INVOICE PREVIEW - END -->


				<!-- TERMS-BUY - START -->
				<div class="terms-buy">

					<!-- TERMS -->
					<div class="terms">
                       	<input id="terms" type="checkbox" />
                       	<a href="">Accept Terms and Conditions</a>
					</div>

                    <!-- BUY -->
					<div class="m-button m-button-primary m-button-tall m-button-buy" disabled>
						BUY
					</div>
					<div class="m-button m-button-primary m-button-tall m-button-test-buy-error" disabled>
						TEST BUY ERROR
					</div>

				</div>
				<!-- TERMS-BUY - END -->



			    <!-- ACTIONS -->
			    <ul class="m-actions-list m-actions-list-right m-action-list-with-padding">
			        <li>
			            <a class="m-button m-button-neutral" href="payment.html">BACK</a>
			        </li>
			    <ul>




            </div>
        </div>
        <!--  CARD - CONTACT - END -->   

	</div>
	<!-- PLAN - END -->

</div>
<!-- REVIEW - END -->			