<!-- SUBHEADER - START -->
<div class="t-subheader">
    
    <!-- TITLE -->
    <div class="title title-full-width">
        <div>CONFIGURE</div>
        <div>View and select addons for this plan. Sort the addons by: "Included by default", "One time", "Optional - Included, Unincluded", "Recurring"</div>
    </div>

</div>
<!-- SUBHEADER - END -->

<!-- CONFIGURE - START -->
<div class="t-content-section">

    <!-- CONFIGURE LIST - START -->
    <div class="m-addon-list">

        <ul>
            <li class="include-default">
                <div class="addon-name">Ears By Default</div>
                <div class="addon-description">Kittens need ears, so by default we include ears on all kittens.</div>
                <div class="addon-quantity">
                    <label>Quantity:</label>
                    <div class="quatity-label">2</div>
                </div>
                <div class="addon-price">
                    $999,999,999.99 USD
                </div>
            </li>

            <li>
                <div class="addon-name">Toes</div>
                <div class="addon-description">Toes can be customized.  Who wants 10 toes when you might want 8?!</div>
                <div class="addon-quantity">
                    <label>Quantity:</label>
                    <div><input type="text" value="1" disabled="disabled" /></div>
                </div>
                <div class="addon-price">
                    Starting at $999,999,999.99 USD <span id="varies" class="varies">(varies)</span>
                </div>
                <div class="addon-action">

                    <div class="addon-include">
                        <input id="addon-include-0" class="addon-include" type="checkbox" />
                        <label for="addon-include-0">
                            <svg viewBox="0 0 508.82 508.82">
                                <g>
                                    <path class="border" d="M254.41,508.82C114.378,508.82,0,394.442,0,254.41S114.378,0,254.41,0s254.41,114.378,254.41,254.41S395.511,508.82,254.41,508.82z M254.41,31C131.481,31,32.069,130.412,32.069,253.341s99.412,222.342,222.342,222.342s222.341-99.412,222.341-222.342C477.82,130.412,377.339,31,254.41,31z"/>
                                    <path id="checkmark" class="checkmark" d="M230.893,329.237c-4.276,0-8.552-2.138-11.758-4.276l-52.379-52.379c-6.414-6.414-6.414-16.034,0-22.448c6.414-6.414,16.034-6.414,22.448,0l40.62,40.62l95.137-92.999c6.414-6.414,16.034-6.414,22.448,0c6.414,6.414,6.414,16.034,0,22.448L242.652,324.961C239.445,328.167,235.169,329.236,230.893,329.237z"/>
                                </g>
                            </svg>
                        </label>
                    </div>

                </div>
            </li>

            <li>
                <div class="addon-name">Extra Fur</div>
                <div class="addon-description">Want extra furry kitten, you got it, with this addon your kitten will have lots o fur.</div>
                <div class="addon-quantity">
                    <label>Quantity:</label>
                    <div><input type="text" value="1" disabled="disabled" /></div>
                </div>
                <div class="addon-price">
                    $999,999,999.99 USD
                </div>
                <div class="addon-action">

                    <div class="addon-include">
                        <input id="addon-include-1" class="addon-include" type="checkbox" />
                        <label for="addon-include-1">
                            <svg viewBox="0 0 508.82 508.82">
                                <g>
                                    <path class="border" d="M254.41,508.82C114.378,508.82,0,394.442,0,254.41S114.378,0,254.41,0s254.41,114.378,254.41,254.41S395.511,508.82,254.41,508.82z M254.41,31C131.481,31,32.069,130.412,32.069,253.341s99.412,222.342,222.342,222.342s222.341-99.412,222.341-222.342C477.82,130.412,377.339,31,254.41,31z"/>
                                    <path id="checkmark" class="checkmark" d="M230.893,329.237c-4.276,0-8.552-2.138-11.758-4.276l-52.379-52.379c-6.414-6.414-6.414-16.034,0-22.448c6.414-6.414,16.034-6.414,22.448,0l40.62,40.62l95.137-92.999c6.414-6.414,16.034-6.414,22.448,0c6.414,6.414,6.414,16.034,0,22.448L242.652,324.961C239.445,328.167,235.169,329.236,230.893,329.237z"/>
                                </g>
                            </svg>
                        </label>
                    </div>

                </div>
            </li>

            <li>
                <div class="addon-name">More Bouncier</div>
                <div class="addon-description">Kittens bounce, that is for sure, want more bounce?<br/>You gots it!</div>
                <div class="addon-quantity">
                    <label>Quantity:</label>
                    <div><input type="text" value="1" disabled="disabled" /></div>
                </div>
                <div class="addon-price">
                    $999,999,999.99 USD
                </div>
                <div class="addon-action">

                    <div class="addon-include">
                        <input id="addon-include-2" class="addon-include" type="checkbox" />
                        <label for="addon-include-2">
                            <svg viewBox="0 0 508.82 508.82">
                                <g>
                                    <path class="border" d="M254.41,508.82C114.378,508.82,0,394.442,0,254.41S114.378,0,254.41,0s254.41,114.378,254.41,254.41S395.511,508.82,254.41,508.82z M254.41,31C131.481,31,32.069,130.412,32.069,253.341s99.412,222.342,222.342,222.342s222.341-99.412,222.341-222.342C477.82,130.412,377.339,31,254.41,31z"/>
                                    <path id="checkmark" class="checkmark" d="M230.893,329.237c-4.276,0-8.552-2.138-11.758-4.276l-52.379-52.379c-6.414-6.414-6.414-16.034,0-22.448c6.414-6.414,16.034-6.414,22.448,0l40.62,40.62l95.137-92.999c6.414-6.414,16.034-6.414,22.448,0c6.414,6.414,6.414,16.034,0,22.448L242.652,324.961C239.445,328.167,235.169,329.236,230.893,329.237z"/>
                                </g>
                            </svg>
                        </label>
                    </div>

                </div>
            </li>

            <li>
                <div class="addon-name">Litter Trained</div>
                <div class="addon-description">Did you know kittens poop?  They do, its true.  With this addon your kitten comes litter trained.</div>
                <div class="addon-quantity">
                    <label>Quantity:</label>
                    <div><input type="text" value="1" disabled="disabled"  /></div>
                </div>
                <div class="addon-price">
                    $999,999,999.99 USD
                </div>
                <div class="addon-action">

                    <div class="addon-include">
                        <input id="addon-include-3" class="addon-include" type="checkbox" />
                        <label for="addon-include-3">
                            <svg viewBox="0 0 508.82 508.82">
                                <g>
                                    <path class="border" d="M254.41,508.82C114.378,508.82,0,394.442,0,254.41S114.378,0,254.41,0s254.41,114.378,254.41,254.41S395.511,508.82,254.41,508.82z M254.41,31C131.481,31,32.069,130.412,32.069,253.341s99.412,222.342,222.342,222.342s222.341-99.412,222.341-222.342C477.82,130.412,377.339,31,254.41,31z"/>
                                    <path id="checkmark" class="checkmark" d="M230.893,329.237c-4.276,0-8.552-2.138-11.758-4.276l-52.379-52.379c-6.414-6.414-6.414-16.034,0-22.448c6.414-6.414,16.034-6.414,22.448,0l40.62,40.62l95.137-92.999c6.414-6.414,16.034-6.414,22.448,0c6.414,6.414,6.414,16.034,0,22.448L242.652,324.961C239.445,328.167,235.169,329.236,230.893,329.237z"/>
                                </g>
                            </svg>
                        </label>
                    </div>

                </div>
            </li>

            <li>
                <div class="addon-name">Sharpier Scratchers</div>
                <div class="addon-description">Kittens have claws, and their sharp.  If for some reason you want the sharper we will fil'em down for ya.</div>
                <div class="addon-quantity">
                    <label>Quantity:</label>
                    <div><input type="text" value="1" disabled="disabled"  /></div>
                </div>
                <div class="addon-price">
                    $999,999,999.99 USD
                </div>
                <div class="addon-action">

                    <div class="addon-include">
                        <input id="addon-include-4" class="addon-include" type="checkbox" />
                        <label for="addon-include-4">
                            <svg viewBox="0 0 508.82 508.82">
                                <g>
                                    <path class="border" d="M254.41,508.82C114.378,508.82,0,394.442,0,254.41S114.378,0,254.41,0s254.41,114.378,254.41,254.41S395.511,508.82,254.41,508.82z M254.41,31C131.481,31,32.069,130.412,32.069,253.341s99.412,222.342,222.342,222.342s222.341-99.412,222.341-222.342C477.82,130.412,377.339,31,254.41,31z"/>
                                    <path id="checkmark" class="checkmark" d="M230.893,329.237c-4.276,0-8.552-2.138-11.758-4.276l-52.379-52.379c-6.414-6.414-6.414-16.034,0-22.448c6.414-6.414,16.034-6.414,22.448,0l40.62,40.62l95.137-92.999c6.414-6.414,16.034-6.414,22.448,0c6.414,6.414,6.414,16.034,0,22.448L242.652,324.961C239.445,328.167,235.169,329.236,230.893,329.237z"/>
                                </g>
                            </svg>
                        </label>
                    </div>

                </div>
            </li>

            <li>
                <div class="addon-name">Licker</div>
                <div class="addon-description">Kittens like to lick, want them to lick more we can do that, but be warned they have scratchy tounges.</div>
                <div class="addon-quantity">
                    <label>Quantity:</label>
                    <div><input type="text" value="1" disabled="disabled"  /></div>
                </div>
                <div class="addon-price">
                    $999,999,999.99 USD
                </div>
                <div class="addon-action">

                    <div class="addon-include">
                        <input id="addon-include-5" class="addon-include" type="checkbox" />
                        <label for="addon-include-5">
                            <svg viewBox="0 0 508.82 508.82">
                                <g>
                                    <path class="border" d="M254.41,508.82C114.378,508.82,0,394.442,0,254.41S114.378,0,254.41,0s254.41,114.378,254.41,254.41S395.511,508.82,254.41,508.82z M254.41,31C131.481,31,32.069,130.412,32.069,253.341s99.412,222.342,222.342,222.342s222.341-99.412,222.341-222.342C477.82,130.412,377.339,31,254.41,31z"/>
                                    <path id="checkmark" class="checkmark" d="M230.893,329.237c-4.276,0-8.552-2.138-11.758-4.276l-52.379-52.379c-6.414-6.414-6.414-16.034,0-22.448c6.414-6.414,16.034-6.414,22.448,0l40.62,40.62l95.137-92.999c6.414-6.414,16.034-6.414,22.448,0c6.414,6.414,6.414,16.034,0,22.448L242.652,324.961C239.445,328.167,235.169,329.236,230.893,329.237z"/>
                                </g>
                            </svg>
                        </label>
                    </div>

                </div>
            </li>

            <li>
                <div class="addon-name">No Hiss</div>
                <div class="addon-description">Kittens will hiss when they are pissed off, I know right?... weird.  We can remove their hiss function for you.</div>
                <div class="addon-quantity">
                    <label>Quantity:</label>
                    <div><input type="text" value="1" disabled="disabled"  /></div>
                </div>
                <div class="addon-price">
                    $999,999,999.99 USD
                </div>
                <div class="addon-action">

                    <div class="addon-include">
                        <input id="addon-include-6" class="addon-include" type="checkbox" />
                        <label for="addon-include-6">
                            <svg viewBox="0 0 508.82 508.82">
                                <g>
                                    <path class="border" d="M254.41,508.82C114.378,508.82,0,394.442,0,254.41S114.378,0,254.41,0s254.41,114.378,254.41,254.41S395.511,508.82,254.41,508.82z M254.41,31C131.481,31,32.069,130.412,32.069,253.341s99.412,222.342,222.342,222.342s222.341-99.412,222.341-222.342C477.82,130.412,377.339,31,254.41,31z"/>
                                    <path id="checkmark" class="checkmark" d="M230.893,329.237c-4.276,0-8.552-2.138-11.758-4.276l-52.379-52.379c-6.414-6.414-6.414-16.034,0-22.448c6.414-6.414,16.034-6.414,22.448,0l40.62,40.62l95.137-92.999c6.414-6.414,16.034-6.414,22.448,0c6.414,6.414,6.414,16.034,0,22.448L242.652,324.961C239.445,328.167,235.169,329.236,230.893,329.237z"/>
                                </g>
                            </svg>
                        </label>
                    </div>

                </div>
            </li>

        </ul>    

    </div>
    <!-- CONFIGURE LIST - END -->


    <!-- TOTALS / ACTIONS - START -->
    <div class="m-totals-actions m-card">
        <div class="m-card-bdy">

            <!-- PRICE SUMMARY - START -->
            <div class="m-price-summary">            
                <div class="charges">
                    <div>
                        <div>Initial Charge:</div>
                        <div>$999,999,999.99 USD</div>
                    </div>
                    <div>
                        <div>Recurring Charge:</div>
                        <div>$999,999,999.99 USD / per month</div>
                    </div>
                </div>
                <div class="taxes">
                    * Taxes may be applicable and will be displayed before final purchase
                </div>
            </div>
            <!-- PRICE SUMMARY - END -->

            <!-- ACTIONS - START -->
            <ul class="m-actions-list m-actions-list-right">
                <li>
                    <a class="m-button m-button-primary" href="information.html">NEXT</a>
                </li>
                <li>
                    <a class="m-button m-button-neutral" href="index.html">BACK</a>
                </li>
            <ul>
            <!-- ACTIONS - START -->

        </div>
    </div>
    <!-- TOTALS / ATIONS - END -->


</div>
<!-- CONFIGURE - END -->