<!-- SUBHEADER - START -->
<div class="t-subheader">
    
    <!-- TITLE -->
    <div class="title title-full-width">
        <div>INFORMATION</div>
        <div>We need to gather a bit of information</div>
    </div>

</div>
<!-- SUBHEADER - END -->


<!-- INFORMATION - START -->
<div class="t-content-section">

    <!-- GRID - START -->
    <div class="t-grid t-grid-50">

        <!-- GRID - LFT - START -->
        <div class="lft">


            <!-- CARD - CONTACT - START -->                   
            <div class="m-card">
                <div class="m-card-hdr">
                    <div class="title">Contact Information</div>
                </div>
                <div class="m-card-bdy">

                    <div class="m-form-grid contact-form">
                        <div class="m-form-grid-row">

                            <!-- FIRST NAME -->
                            <div class="m-form-control-vertical">
                                <label>
                                    <span>FIRST NAME</span>
                                    <span class="required">*</span>
                                    <span>:</span>
                                </label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- LAST NAME -->
                            <div class="m-form-control-vertical">
                                <label>
                                    <span>LAST NAME</span>
                                    <span class="required">*</span>
                                    <span>:</span>
                                </label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- EMAIL -->
                            <div class="m-form-control-vertical">
                                <label>
                                    <span>EMAIL</span>
                                    <span class="required">*</span>:
                                </label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- PHONE -->
                            <div class="m-form-control-vertical">
                                <label>PHONE:</label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- COMPANY NAME -->
                            <div class="m-form-control-vertical">
                                <label>COMPANY NAME:</label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!--  CARD - CONTACT - END -->   


            <!-- CARD - OTHER - START -->                   
            <div class="m-card">
                <div class="m-card-hdr">
                    <div class="title">Other</div>
                </div>
                <div class="m-card-bdy">

                    <div class="m-form-grid contact-form">
                        <div class="m-form-grid-row">

                            <!-- USAGE -->
                            <div class="m-form-control-vertical">
                                <label>USAGE:</label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- MANDATORY -->
                            <div class="m-form-control-vertical">
                                <label>MANDATORY:</label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- DEFAULT VALUE -->
                            <div class="m-form-control-vertical">
                                <label>DEFAULT VALUE:</label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- HIDDEN -->
                            <div class="m-form-control-vertical">
                                <label>HIDDEN:</label>                
                                <div>
                                    <input type="text" hidden />
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!--  CARD - OTHER - END --> 


        </div>
        <!-- GRID - LFT - END -->


        <!-- GRID - RGT - START -->
        <div class="rgt">


            <!-- CARD - BILLING - START -->                   
            <div class="m-card">
                <div class="m-card-hdr">
                    <div class="title">Billing Address</div>
                </div>
                <div class="m-card-bdy">

                    <div class="m-form-grid contact-form">
                        <div class="m-form-grid-row">

                            <!-- ADDRESS 1 -->
                            <div class="m-form-control-vertical">
                                <label>
                                    <span>ADDRESS 1</span>
                                    <span class="required">*</span>
                                    <span>:</span>
                                </label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- ADDRESS 2 -->
                            <div class="m-form-control-vertical">
                                <label>ADDRESS 2:</label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- CITY -->
                            <div class="m-form-control-vertical">
                                <label>
                                    <span>CITY</span>
                                    <span class="required">*</span>
                                    <span>:</span>
                                </label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- COUNTRY -->
                            <div class="m-form-control-vertical billing-country">
                                <label>
                                    <span>COUNTRY</span>
                                    <span class="required">*</span>
                                    <span>:</span>
                                </label>                
                                <div class="m-form-control-select">
                                    <select>
                                        <option>Canada</option>
                                        <option>United States</option>
                                    </select>
                                </div>
                            </div>

                            <!-- STATE / PROVINCE -->
                            <div class="m-form-control-vertical billing-state-province">
                                <label>
                                    <span class="label">STATE/PROVINCE</span>
                                    <span class="required">*</span>
                                    <span>:</span>
                                </label>                
                                <div class="m-form-control-select province">
                                    <select>
                                        <option>Ontario</option>
                                        <option>Quebec</option>
                                    </select>
                                </div>
                                <div class="m-form-control-select state">
                                    <select>
                                        <option>New York</option>
                                        <option>El Segundo</option>
                                    </select>
                                </div>
                            </div>

                            <!-- ZIP / POSTAL CODE -->
                            <div class="m-form-control-vertical billing-zip-postal">
                                <label>
                                    <span class="label">ZIP/POSTAL CODE</span>
                                    <span class="required">*</span>
                                    <span>:</span>
                                </label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!--  CARD - BILLING - END --> 


            <!-- CARD - SHIPPING - START -->                   
            <div class="m-card">
                <div class="m-card-hdr">
                    <div class="title">Shipping Address</div>
                </div>
                <div class="m-card-bdy">

                    <div class="m-form-grid shipping-form">
                        <div class="m-form-grid-row">

                            <!-- USE BILLING ADDRESS FOR SHIPPING -->
                            <div class="m-form-control-stack-horizontal use-billing-address">
                                <label>USE BILLING ADDRESS FOR SHIPPING?:</label>
                                <input id="use-billing-address" type="checkbox" />
                            </div>

                            <!-- SHIPPING CONTACT -->
                            <div class="m-form-control-vertical">
                                <label>SHIPPING CONTACT:</label>                
                                <div>
                                    <input type="text" />
                                </div>
                            </div>

                            <!-- SHIPPING INSTRUCTIONS -->
                            <div class="m-form-control-vertical">
                                <label>SHIPPING INSTRUCTIONS:</label>                
                                <div>
                                    <textarea></textarea>
                                </div>
                            </div>


                            <!-- SHIPPING ADDRESS - START -->
                            <div class="shipping-address-form" style="display: none;">

                                <!-- ADDRESS 1 -->
                                <div class="m-form-control-vertical">
                                    <label>
                                        <span>ADDRESS 1</span>
                                        <span class="required">*</span>
                                        <span>:</span>
                                    </label>                
                                    <div>
                                        <input type="text" />
                                    </div>
                                </div>

                                <!-- ADDRESS 2 -->
                                <div class="m-form-control-vertical">
                                    <label>ADDRESS 2:</label>                
                                    <div>
                                        <input type="text" />
                                    </div>
                                </div>

                                <!-- CITY -->
                                <div class="m-form-control-vertical">
                                    <label>
                                        <span>CITY</span>
                                        <span class="required">*</span>
                                        <span>:</span>
                                    </label>                
                                    <div>
                                        <input type="text" />
                                    </div>
                                </div>

                                <!-- COUNTRY -->
                                <div class="m-form-control-vertical shipping-country">
                                    <label>
                                        <span>COUNTRY</span>
                                        <span class="required">*</span>
                                        <span>:</span>
                                    </label>                
                                    <div class="m-form-control-select">
                                        <select>
                                            <option>Canada</option>
                                            <option>United States</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- STATE / PROVINCE -->
                                <div class="m-form-control-vertical shipping-state-province">
                                    <label>
                                        <span class="label">STATE/PROVINCE</span>
                                        <span class="required">*</span>
                                        <span>:</span>
                                    </label>                
                                    <div class="m-form-control-select province">
                                        <select>
                                            <option>Ontario</option>
                                            <option>Quebec</option>
                                        </select>
                                    </div>
                                    <div class="m-form-control-select state">
                                        <select>
                                            <option>New York</option>
                                            <option>El Segundo</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- ZIP / POSTAL CODE -->
                                <div class="m-form-control-vertical shipping-zip-postal">
                                    <label>
                                        <span class="label">ZIP/POSTAL CODE</span>
                                        <span class="required">*</span>
                                        <span>:</span>
                                    </label>                
                                    <div>
                                        <input type="text" />
                                    </div>
                                </div>

                            </div>
                            <!-- SHIPPING ADDRESS - END -->


                        </div>
                    </div>

                </div>
            </div>
            <!--  CARD - SHIPPING - END --> 


        </div>
        <!-- GRID - RGT - END -->

    </div>
    <!-- GRID - END -->


    <!-- TOTALS / ACTIONS - START -->
    <div class="m-totals-actions m-card">
        <div class="m-card-bdy">

            <!-- PRICE SUMMARY - START -->
            <div class="m-price-summary">            
                <div class="charges">
                    <div>
                        <div>Initial Charge:</div>
                        <div>$999,999,999.99 USD</div>
                    </div>
                    <div>
                        <div>Recurring Charge:</div>
                        <div>$999,999,999.99 USD / per month</div>
                    </div>
                </div>
                <div class="taxes">
                    * Taxes may be applicable and will be displayed before final purchase
                </div>
            </div>
            <!-- PRICE SUMMARY - END -->

            <!-- ACTIONS -->
            <ul class="m-actions-list m-actions-list-right">
                <li>
                    <a class="m-button m-button-primary" href="payment.html">NEXT</a>
                </li>
                <li>
                    <a class="m-button m-button-neutral" href="configure.html">BACK</a>
                </li>
            <ul>

        </div>
    </div>
    <!-- TOTALS / ATIONS - END -->


</div>
<!-- INFORMATION - END -->			