// --------------------------------------------------------------------------------
// VIEW - SELECT
//---------------------------------------------------------------------------------
.v-select {
    .currency {
        @include j-cf();

        margin-top: $spacing-8;

        > * {
            float: right;      	
        }

        label {
            margin: $spacing-8 $spacing-5 0 0;
        }

        select {
            min-width: 100px;
        }
    }
}